section {
  width: 100%;
  margin-top: 0;
  background-repeat:round;
  height: 100%;
  background-image: url("/public/eurowizja-blanka-solo.jpg");
  margin-bottom: 100px;
}


footer {
  list-style: none;
  height: 100px;
  display:flex;
  justify-content:center;
  align-items: center; /* Zmieniono 'baseline' na 'center' */
  background: linear-gradient(to right, #b30788, #0a6e12);
  padding: 0 30px;
  color: #f5f5f5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


.mem-object {
  flex: 1;
  padding-left: 20px;
}
  


h1.Bejba{

  align-items:justify;
  font-size: 24px;
  padding: 5px;
}

.navbar {
  list-style: none;
  position: fixed;
  width: 100%;
  height: 95px;
  background: linear-gradient(to right, #b30788, #0a6e12);
  top:0;
  margin:0;
  padding: 0 30px;
  display: flex;
  color: #f5f5f5;
}

.navbar li a{
  text-decoration: none;
  padding: 20px 20px;
  color: beige;
  display: block;

}
.navbar li a.active {

  background: rgb(73, 168, 70);
  color: rgb(5, 5, 5);
};
  


ul {
  display: flex;
  flex-direction: row;
}

li {
  margin-right: 40px;
  list-style: none;
  cursor: pointer;
}

li::after {
  content: " ";
  display: block;
  border-bottom: 2px solid #beabab;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

li:hover::after {
  transform: scaleX(1);
}

a {
  text-decoration: none;
  color: inherit;
}

.error {

  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  color: #b30788;
  display: flexbox;
  justify-content: center;
  font-size: 26px;
}